# Block everything.
/*

# White-list files.
!.gitignore
!.gitattributes
!README.md
!composer.json
!composer.lock
!phpunit.xml
!phpunit_coverage.txt

# White-list entire directories.
!src/
!tests/

# Ignore crap files.
**/*.*~
**/*#*

# Ignore test file
src/test.php
