name: Projom-core-test-suite

on: [push]

permissions:
  contents: read

jobs:
  test_suite:
    name: Test on php ${{ matrix.php_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        php_version: ["8.2"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: "yaml, mbstring, pdo_mysql, openssl, curl"
          coverage: "xdebug"
          tools: none

      - name: Install PHPUnit with Composer
        uses: php-actions/composer@v6

      - name: Run coverage report
        run: ./vendor/bin/phpunit --coverage-text="phpunit_coverage.txt"

      - name: Coverage summary
        run: cat phpunit_coverage.txt >> $GITHUB_STEP_SUMMARY